<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- SCRIPTS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script type="text/javascript"></script>
    <script src="/js/app.js" charset="utf-8"></script>
    <script type="text/javascript">
    // window.onload = function()
    // {
    //     if (window.jQuery)
    //     {
    //         alert('jQuery is loaded');
    //     }
    //     else
    //     {
    //         alert('jQuery is not loaded');
    //     }
    // }
    </script>
    <title>The Coffee Shop Inventory</title>
  </head>
  <body>
    <h1>Coffee Edit Page</h1>
  <form class="item" action="/coffee/<%=item.id%>?_method=PUT" method="POST">
<!-- NOTE: the form is pre-populated with values for the server-->
Name: <input type="text" name="name" value="<%=item.name%>"/><br/>
Description: <input type="text" name="description" value="<%=item.description%>"/><br/>
Image: <input type="src" alt="you can't see me" name="img" value="<%=item.img%>"/><br/>
Price: <input type="number" name="price" value="<%=item.price%>"/><br/>
In Stock: <input type="number" name="qty" value="<%=item.qty%>"/><br/>
    <input type="submit" name="" value="Submit Changes"/>
  </form>
<!-- Carousel -->
  <div class="showCarousel-container">
  <!-- previous button -->
   <div class="carousel-button previous">
     <!-- from linearicons icon font -->
     <span class="lnr lnr-chevron-left"></span>
   </div>
   <!-- images -->
   <div class="carousel-images">
     <img src="images/charles-duck-unitas-505942-unsplash.jpg" alt="coffee you cannot see">
     <img src="images/clem-onojeghuo-102751-unsplash.jpg" alt="coffee you cannot see">
     <img src="images/demi-deherrera-84871-unsplash.jpg" alt="coffee you cannot see">
     <img src="images/mike-marquez-342243-unsplash.jpg" alt="coffee you cannot see">
     </div>
     <!-- next button -->
     <div class="carousel-button next">
       <!-- from linearicons icon font -->
       <span class="lnr lnr-chevron-right"></span>
     </div>
    </div>
  </body>
</html>
