<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include ../partials/head.ejs %>
  <body>
    <h1>The Coffee Shop Inventory</h1>
  <form class="item" action="/coffee/<%=item.id%>?_method=PUT" method="POST">
<!-- NOTE: the form is pre-populated with values for the server-->
Name: <input type="text" name="name" value="<%=item.name%>"/><br/>
Description: <input type="text" name="description" value="<%=item.description%>"/><br/>
Image: <input type="src" alt="you can't see me" name="img" value="<%=item.img%>"/><br/>
Price: <input type="number" name="price" value="<%=item.price%>"/><br/>
In Stock: <input type="number" name="qty" value="<%=item.qty%>"/><br/>
    <input type="submit" name="" value="Submit Changes"/>
  </form>
<!-- Carousel -->
  <div class="showCarousel-container">
  <!-- previous button -->
   <div class="carousel-button previous">
     <!-- from linearicons icon font -->
     <span class="lnr lnr-chevron-left"></span>
   </div>
   <!-- images -->
   <div class="carousel-images">
     <img src="/../images/charles-duck-unitas-505942-unsplash.jpg" alt="coffee you cannot see">
     <img src="/../images/clem-onojeghuo-102751-unsplash.jpg" alt="coffee you cannot see">
     <img src="/../images/demi-deherrera-84871-unsplash.jpg" alt="coffee you cannot see">
     <img src="/../images/mike-marquez-342243-unsplash.jpg" alt="coffee you cannot see">
     </div>
     <!-- next button -->
     <div class="carousel-button next">
       <!-- from linearicons icon font -->
       <span class="lnr lnr-chevron-right"></span>
     </div>
    </div>
  </body>
  <footer>
    <a href="#">Menu |</a>
    <a href="#">Location |</a>
    <a href="#">Hours of Operation |</a>
    <a href="#">Events |</a>
    <a href="#">Join Our Team |</a>
    <a href="#">Contact Us</a><br>
    <!-- Add font awesome icons -->
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <h4>Designed by Cori C. 2019</h4>
  </footer>
</html>
