<!DOCTYPE html>
<html>
      <% include ../partials/head.ejs %>
    <body>
        <h1>The Coffee Spot</h1>
        <!-- =======Modal======== -->
        <!-- open button  -->
        <button id="openModal">OUR STORY</button>
        <div id="modal" class="hidden">
            <div id="modal-textbox">
            <!--close button  -->
            <a id="close" href="#">Close</a>
            <!-- MODAL content  -->
            <h3>THE COFFEE SPOT</h3>
              <p>The number 512 is significant to The Coffee spot. It honors the Austin area code and is a secret shoutout to my high school classmates in the Whitney Young High School division of 512! (Side Note: Young is also the alma mater of the Former First Lady, Michelle Obama.) Now back to our story, we opened our doors on May 12 of 2015 offering a spot to enjoy quality coffee in a comfy neighborhood setting. Our website features mugs designed by local artists from high schools across the area. Thank you for your continued support!</p>
          </div>
        </div>
        <div class="mainContainer">
           <!-- SEARCH Button  -->
          <form action="/coffee/search/" method="POST">
            <label>SEARCH</label>
            <input type="text" name="search">
            <input type="submit">
          </form>
          <img src="/../images/devin-avery-600578-unsplash.jpg" class=introPic alt="coffee">
          <!-- Create New -->
          <div class="container">
            <nav>
               <a href="/coffee/new">Create a New Item</a>
            </nav>
            <!--PRODUCTS  -->
            <div class="content">
               <ul>
                   <% for(let i = 0; i < items.length; i++){ %>
                   <li>
                     <a href="/coffee/<%=items[i].id; %>">
                     <%=items[i].name%>
                     </a><br>
                     Description: <%=items[i].description%><br>
                     <img class="contentPic" src="<%=items[i].img%>" alt="you can't see me"><br>
                     Price: <%=items[i].price%><br>
                     In Stock: <%=items[i].qty%><br>
                   <% } %>
                   </li>
            </div>
              <!-- sidebar -->
              <div class="sidebar"></div>
              <!-- registration container -->
              <div class="registration">
                <h1>SIGN UP FOR THE COFFEE SPOT NEWSLETTER</h1>
                <!-- START FORM -->
                <form action="/coffee/" method="POST">
                  <!-- fieldset for account info -->
                  <fieldset class="account-info">
                    <!-- legend for account info -->
                    <legend>ACCOUNT INFORMATION</legend>
                      <!-- username -->
                      <label>USERNAME</label>
                      <input type="text"/>
                      <!-- password -->
                      <label>PASSWORD</label>
                      <input type="text">
                      <!-- email -->
                      <label>E-MAIL</label>
                      <input type="text"/>
                  </fieldset>
                  <!-- submit button -->
                  <input type="submit">
                </form>
              </div>
        </div>
      </div>
    </body>
    <footer>
      <a href="#">Menu |</a>
      <a href="#">Location |</a>
      <a href="#">Hours of Operation |</a>
      <a href="#">Events |</a>
      <a href="#">Join Our Team |</a>
      <a href="#">Contact Us</a><br>
      <!-- Add font awesome icons -->
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <h4>Designed by Cori C. 2019</h4>
    </footer>
</html>
