<!DOCTYPE html>
<html>
      <% include ../partials/head.ejs %>
    <body>
        <h1>The Coffee Spot</h1>
           <!-- SEARCH Button  -->
          <form action="/coffee/search/" method="POST">
            <label>SEARCH</label>
            <input type="text" name="search">
            <input type="submit">
          </form>
          <img src="/../images/devin-avery-600578-unsplash.jpg" class=introPic alt="coffee">
          <!-- Create New -->
          <div class="container">
            <nav>
               <a href="/coffee/new">Create a New Item</a>
            </nav>
            <!--PRODUCTS  -->
            <div class="content">
               <ul>
                   <% for(let i = 0; i < items.length; i++){ %>
                   <li>
                     <a href="/coffee/<%=items[i].id; %>">
                     <%=items[i].name%>
                     </a><br>
                     Description: <%=items[i].description%><br>
                     <img src="<%=items[i].img%>" alt="you can't see me"><br>
                     Price: <%=items[i].price%><br>
                     In Stock: <%=items[i].qty%><br>
                   <% } %>
                   </li>
            </div>
              <!-- sidebar -->
              <div class="sidebar"></div>
              <!-- registration container -->
              <div class="registration">
                <h1>SIGN UP FOR THE COFFEE SPOT NEWSLETTER</h1>
                <!-- START FORM -->
                <form action="/coffee/" method="POST">
                  <!-- fieldset for account info -->
                  <fieldset class="account-info">
                    <!-- legend for account info -->
                    <legend>ACCOUNT INFORMATION</legend>
                      <!-- username -->
                      <label>USERNAME</label>
                      <input type="text"/>
                      <!-- password -->
                      <label>PASSWORD</label>
                      <input type="text">
                      <!-- email -->
                      <label>E-MAIL</label>
                      <input type="text"/>
                  </fieldset>
                  <!-- submit button -->
                  <input type="submit">
                </form>
              </div>
      </div>
      <footer>
        <h3>Designed by Cori C. 2019</h3>
        <a href="caridine.corin@gmail.com">Contact Us</a>
        <!-- Add font awesome icons -->
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-linkedin"></a>
      </footer>
    </body>
</html>
