<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- SCRIPTS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script type="text/javascript"></script>
    <script src="../js/app.js" charset="utf-8"></script>
    <script type="text/javascript">
    // window.onload = function()
    // {
    //     if (window.jQuery)
    //     {
    //         alert('jQuery is loaded');
    //     }
    //     else
    //     {
    //         alert('jQuery is not loaded');
    //     }
    // }
    </script>
    <title>The Coffee Spot Products</title>
  </head>
  <body>
    <div class="showProduct">
      <ul>
        <li>
          Name: <%=item.name%><br>
          Description: <%=item.description%><br>
          <img src="<%=item.img%>" alt="you can't see me"> <br>
          Price: <%=item.price%><br>
          In Stock: <%=item.qty%><br>
        </li>
      </ul>
      <!--  ADD EDIT FORM HERE-->
      <a href="/coffee/<%=item.id; %>/edit">Edit</a><br>
  <!--  ADD DELETE FORM HERE-->
      <form action="/coffee/<%=item.id; %>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE"/>
      </form>
  <!--back to store  -->
      <nav>
      <a href="/coffee/">Back to Store</a>
      </nav>
  <!--buy button  -->
      <% if (item.qty > 0) { %>
      <form action="/coffee/buy/<%=item.id%>?_method=PUT" method="POST">
          <input type="submit" value="BUY">
      </form>
      <% } else { %>
      Product Out of Stock
      <% } %>
    </div>
    <!-- Carousel -->
    <div class="showCarousel-container">
      <!-- previous button -->
       <div class="carousel-button previous">
         <!-- from linearicons icon font -->
         <span class="lnr lnr-chevron-left"></span>
       </div>
       <!-- images -->
       <div class="carousel-images">
         <img src="/../images/nathan-dumlao-463043-unsplash.jpg" alt="coffee you cannot see">
         <img src="/../images/nathan-dumlao-566571-unsplash.jpg" alt="coffee you cannot see">
         <img src="/../images/nathan-dumlao-608718-unsplash.jpg" alt="coffee you cannot see">
         <img src="/../images/nathan-dumlao-714163-unsplash.jpg" alt="coffee you cannot see">
       </div>
       <!-- next button -->
       <div class="carousel-button next">
         <!-- from linearicons icon font -->
         <span class="lnr lnr-chevron-right"></span>
       </div>
     </div>
   </div>
    </div>
    <footer>
      <h3>Designed by Cori C. 2019</h3>
      <a href="caridine.corin@gmail.com">Contact Us</a>
      <!-- Add font awesome icons -->
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-linkedin"></a>
    </footer>  
  </body>
</html>
